body * {
  font-family: "Josefin Sans";
}
header.jumbotron {
  background-image: url("../img/chairs.jpg");
  background-size: cover;
  /* filter: blur(1px); */
}
header .header-text {
  text-shadow: #fff 0 0 10px;
}
main #meeting-img {
  display: block;
  margin: auto;
  width: 80%;
}
main #attend-img {
  display: block;
  margin: auto;
  width: 20%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #132238;
  color: white;
  text-align: center;
  padding-top: 20px;
}
#addEmployeesModalBody input {
  border-radius: 15px;
  margin: 5px 0;
  padding-left: 5px;
  width: 100%;
}
#side-nav-div {
  background-color: teal;
}
.side-nav-list {
  list-style-type: none;
  margin: auto;
  margin-top: 25%;
}
.side-nav-list .active {
  font-weight: bold;
  font-size: larger;
  color: rgb(172, 188, 207);
  background: #36383b;
}
